<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h2>Crear Nueva Reserva</h2>
    </div>
    <div class="card-body">
      <%= render 'form', reserva: @reserva %>
    </div>
  </div>
</div>